/* 
    Document   : personal
    Created on : Oct 9, 2012, 8:39:43 PM
    Author     : Dstile
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    overflow: hidden;
    }
 a { 
    position: relative;
    margin: 0;
    padding: 0;
    border-style: none;
    
}

div.comments {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    overflow: none;
    
}

.icon {
    height: 40px;
    width: 40px;
}

.inline {
    display: inline;
}

.sectionHeader {
    border-bottom-width: thin;
    border-bottom-style: dotted;
    border-bottom-color: #FF0000;
    margin-bottom: 20px;
    color: black; 
    margin-top: 1em;
 
}
.rounded {
    
    border-radius: 15px;
}

bottomTab {
    display: block;
    border: 1px solid  #222220;
    border-bottom: none;
    top: 0px;
    position: relative;
    line-height: 60px;
    height: 60px;
    border-top-right-radius: 1em;
    -moz-border-radius-topright: 1em;
    -webkit-border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    -moz-border-radius-topleft: 1em;
    -webkit-border-top-left-radius: 1em;
    width: 60%;
    margin: 0px;
    padding: 0px;
    background-color: #ababa0;
}

bottomTab:hover {
    background-color: white;
}
.recentContainer {

 background-color: rgb(255, 255, 255);
background-color: rgba(255, 255, 255, 0.7);
 width: 100%;
 border: solid 1px black;
}

#content-stream {
    
    margin-top: 0px;
    padding-top: 0px;
    width: 90%;
}

.copyright {
    height: 100%;
    line-height: 10px;
}

.copyright p{
    position: fixed;
    bottom: 0;
    left: 1em;
}

.bodyvis {
    overflow: visible;
}

.rss {
    float: right;
    padding: 10px;
    display: block;
    padding-top: 2.5em;
}

.tabContent {
width:100%;
height: 2em;
}


footer { 
bottom: 0px;
left: 0px;
position: absolute;
width:100%;
height: 10px;
z-index: -2;
}

div {
    text-align: center;
}

posthead {
   text-align: center;
   font-size: 1.6em;
   display: block;
    
}

.sectionHeader {
    padding: 0.8em;
    font-size: 1.6em;
    font-weight: bold;
}

category {
   margin-right: 5.8em;
    text-align: right;
    width: 100%;
    font-size: 1em;
    color: gray;
    display: inline-block;
 
}

media {
 font-size: 1.5em;
    
}


article {
    line-height: 140%;
    padding-top: 1em;
    padding-bottom: 2em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    text-align: left;
    font-size: 1.5em;
}

picture {
    padding: 1em;
    display: block;
   
}


description {
   font-size: 1.5em;
   display: block;
   text-align: left;
   padding-left: 5em;
   padding-right: 5em;
   line-height: 100%;

   margin-top: .5em;

      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
}


datesequence {
    
   font-style: italic;
   display: inline-block;
}
img {
    border:none;
   
   
} 
p { 
        margin-top: .5em; color: #000000;}
    
h3{
    font-family: 'Scada', sans-serif;
    font-size: 1.5em;
} 
/*Introduction section formatting*/
.intro {
    color: #000000;
    font-size: 1.5em;   
    padding-left: 1.5em;
    padding-right: 1.5em;
}

p.intro {
    color: #000000;
    font-size: 1.5em;   
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-left: auto;   
    margin-right: auto;
}

ul.introlist {
    font-size: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: auto;   
    margin-right: auto;
}

.transbackground{
     background-image: url('content.png');

 }
 .container-fluid{
	/* Set up positioning */
        top: 0px;
 }

/*CSS for second page background*/
 img.bg {
    /* Set rules to fill background */
    
    min-height: 105%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 105%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
        top: -5%;
        left: -5%;
        z-index: -2;

    -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

/*First Background on home page*/
img.bg1 {
	/* Set rules to fill background */
	
    min-height: 105%;
	min-width: 1024px;
	
	/* Set up proportionate scaling */
	width: 105%;
	height: auto;
	
	/* Set up positioning */
	position: fixed;
        top: -5%;
        left: -5%;
        z-index: -2;

    -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}
/*Second Background on home page*/
/*Hidden Background*/
 img.bg2 {
    /* Set rules to fill background */
    opacity: 0;
    
    min-height: 105%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 105%;
    height: auto;
    
    /* Set up positioning */
    position: fixed;
        top: -5%;
        left: -5%;
        z-index: -2;

    -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s; 
}

img.bgopacity1 {
    opacity: 0;
}

img.bgopacity2 {
    opacity: 10;
}


#topicholder {
    display: none;
}

 #transparent_map {
  position: absolute;
  z-index: 30;
  width: 400px;
  height: 100px;
  border: none;
}
#wrapper{
    
}
#project-content{}

 #doublebutton{
     
     background-image: url('seesaw.png');
     background-size:100% 100%;
     height: 100px;
     width: 200px;
     position:absolute; 
     top:0;
     left:0; 
     z-index: 5;
 }
 
 #project-content .titleRow{
 
 display: block;
 padding: 2%;
 border-width: medium;
 border-bottom-style: solid;     
     
 }
.newRow{
     clear: both;
     display: block;
     padding: 1%;
     border-width: thin;
     border-bottom-style: solid;
     min-height:100px;
     height:auto !important;
     height:100px; 
     
 }
 
 /*The coll# id's are used for formating the life related project content*/
 #project-content .coll0{
     display: inline-block;
     float: left;
     width: 10%;
 }
 
 #project-content .coll1{
     display: inline-block;
     width: 10%;
     text-align: left;
     vertical-align:text-top;
  
     
 }
 #project-content .coll2{
     display: inline-block;
     width: 50%;
      text-align: left;
      vertical-align:text-top;
 }

 #project-content .coll3{
     display: inline-block;
     width: 15%;
     vertical-align:text-top;
      
 }

 #project-content .coll4{
     display: inline-block;
     width: 15%;
     float: right;
     vertical-align:text-top;
 }
  /*The colw# id's are used for formating the work related project content*/
  #project-content .colw0{
     display: inline-block;
     vertical-align:text-top;
     float: left;
     width: 10%;
     margin-left: auto;
     margin-right: auto;
     padding-right: 1%;
 }
 
 #project-content .colw1{
     display: inline-block;
     width: 10%;
     text-align: center;
     vertical-align:text-top;
     padding-right: 1%;
  
     
 }
 #project-content .colw2{
     display: inline-block;
     width: 10%;
      text-align: center;
      vertical-align:text-top;
      padding-right: 1%;
 }

 #project-content .colw3{
     display: inline-block;
     width: 50%;
     text-align: left;
     vertical-align:text-top;
     padding-right: 1%;
      
 }

 #project-content .colw4{
     display: inline-block;
     width: 15%;
     float: right;
     vertical-align:text-top;
 }

 #namelogo.test{
     z-index: -1;  
 }

 #topic-logos{
   /*  width: 100%;*/
 }
 
 #topicholder {
  position: relative;
  
 
 }

 #centerbutton {
     position: absolute;
     display: inline;
     width: 100%;
 }

.li {
   
  
 text-indent: -1000em;
  z-index: 20;
  display: none;
}


#technology { 
    background-image: url('/img/design_hover.png'); 
    background-repeat: no-repeat;
    position: absolute;
    width: 100px;
    height: 100px;
  
    
    pointer-events: none;
}

#music { 
    
position: absolute;
    width: 100px;
    height: 100px;
   
   
    pointer-events: none;
}

#activities { 
    background-image: url('/img/activities_hover.png'); 
    background-repeat: no-repeat;
position: absolute;
    width: 100px;
    height: 100px;
   
    
    pointer-events: none;
}

#inspiration { 
    background-image: url('/img/inspiration_hover.png'); 
    background-repeat: no-repeat;
    position: absolute;
    width: 110px;
    height: 100px;
  
    
    pointer-events: none;
}

 #time_buttons {
     position: relative;
     
 }

/*CSS for the main content window */
 .contentIndex{width: 80%; height:300px; padding:10px; overflow:auto; }
 .contentNav{width: 80%; height:350px; padding:10px; overflow:auto; }

.center {   margin-left: auto;   margin-right: auto; }

.centered-text {
    text-align:center;
}  

.linkbox{
    border-style:solid;
    border-width:5px;
    padding-left: 1px;
    margin-left: 50px;
    
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.bg1 {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}