/* CSS Document */

p{
font-family: Verdana, sans-serif;
font-size: 11px;
color: #000000;
line-height: 18px;
padding: 3px;
}
.bold {
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	color: #000000;
}
.navigation{
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	display: block;
	padding: 8 px;
	width: inherit;
	padding-top: 8px;
	padding-bottom: 8px;
}


.navigation:hover{
	font-family: Verdana, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #9933CC;
	text-decoration: none;
	display: block;
	padding: 8px;
	width: inherit;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #FFFFFF;
}
.p2{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 3px;
	margin-left: 20px;
	margin-right: 20px;
}
.submenu{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:  #000000;
	text-decoration: none;
	display: block;
	line-height:  18px;
	padding: 8px;
	margin-left: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.submenu:hover{
	color:  #3333FF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:  18px;
	padding: 3px;
	margin-left: 20px;
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #FFFFFF;
}

.p3{
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 18px;
	padding: 3px;
	
}




.baselineborder {
	border-top-width: 1.0px;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.navigationbarborder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.righttab {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #000000;
}
.centerborder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}

.funtimes{
	background-color: #FF00FF;	
}
